<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.nextcloud.backup.plist</string>
	
	<key>ProgramArguments</key>
	<array>
		<string>/Users/thomaswhilbert/bin/scripts/rsync/nc-bkup.sh</string>								
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Volumes/Stash/logs/nextcloud/stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Volumes/Stash/logs/nextcloud/stdout.log</string>
	<key>StartInterval</key>
		<integer>1800</integer>
	</dict>
</plist>
